body{
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #0a223a;
    background-color: #eeeae4;
}

.conteiner_7{
    display: flex;
    align-items: start;
    justify-content: start;
    max-width: 60%;
    
    flex-direction: row;
}

.expenses_chart_div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    border-radius: 10px;
    height: 100%;
}