body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #eeeae4;
    background-color: #0a223a;
    display: flex;
    overflow: hidden;
}

.conteiner{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.buttonM{
    display: flex;
    align-items: start;
    justify-content: center;
    padding-top: 20px;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -280px;
    width: 250px;
    height: 100%;
    background-color: #0f365d;
    color: #eeeae4;
    display: flex;
    flex-direction: column;
    padding: 20px;
    transition: left 0.3s ease;
}

.sidebar.active {
    left: 0;
}

.sidebar button {
    margin-top: 20px;
    padding: 10px;
    background-color: #34495e;
    border: none;
    color: white;
    cursor: pointer;
}

.sidebar button:hover {
    background-color: #1abc9c;
}